<p id="notice"><%= notice %></p>

<h1>All Artists</h1>

  <p>

   <%= link_to new_artist_path do %>
      <span class="glyphicon glyphicon-plus"></span> Add
    <%end%>

  </p>



    <% @artists.each_slice(2) do |artists| %>
      <div class="row"> 
        <% artists.each do |artist| %>
          <div class="col-md-6">
            <div class="well">       
              <h2><%= artist.name %></h2>
              <p><%= image_tag artist.avatar.url(:thumb) %></p>
              <p><%= link_to 'Show', artist %></p>
              <p><%= link_to 'Edit', edit_artist_path(artist) %></p>
              <p><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          </div>
        <% end %>      
    </div>
 <% end %>
<br>

