<!DOCTYPE html>
<html>
<head>
  <title>Top5</title>
  
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>


  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


		<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
              	<%= link_to root_path do %>
              	 <%= image_tag "speakers.png" %> TOP FIVE 
              	 <% end %>
              </h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Artists", artists_path %></li>
                  <li><%= link_to "Songs", songs_path %></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
          	<%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Follow me <a href="https://twitter.com/thomasweld">@thomasweld</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>



</body>
</html>
